{% extends "base_generic.html" %}

{% block title %}
<title>Authors</title>

{% endblock %}

{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'app/following.css' %}">{% endblock %}

{% block content %}

    <div class="container-fluid d-flex align-items-center flex-column p-3">
      <h1>{{authors|length}} Author{{authors|pluralize}}</h1>
   

{% for author in authors %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{author.profileImage}}" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{author.displayName}}</h5>
        <p class="card-subtitle mb-2 text-muted">@{{author.username}}</p>
        <p class="card-text">Just coding...</p>    

<div class="btn-group" role="group" aria-label="Basic example">

    <a type="button" class="btn btn-primary" href="{% url 'profile' username=author.username %}" target="_blank"><i class="bi bi-person-fill">&nbsp;Profile</i></a>
        <a type="button" href="{{author.github}}" target="_blank" class="btn btn-secondary"><i class="bi bi-github">&nbsp;GitHub</i></a>

           
</div>

{% if author not in followings %}

 <form class="mt-3" action="{% url 'authors' %}" method="post">
                {% csrf_token %}
                
                   <button type="submit" name="follow" value="{{author.username}}" class="btn btn-success"><i class="bi bi-person-fill-add">&nbsp;Send a follow request</i></button>

            </form>

{% endif %}


      </div>

   <div class="card-footer"><a href="{{author.host}}" class="text-decoration-none">{{author.host|cut:'http://'}}</a></div>


    </div>
  </div>
</div>


{% endfor %}

</div>


{% endblock %}