{% load static %}

<!doctype html>
<html lang="en">
  <div class="card">
    <div class="card-header">
      <a class="d-inline-flex align-middle" href="{% url 'profile' username=comment.author.username %}">
        {% if comment.author.profileImage %}
        <img src="{{comment.author.profileImage}}" class="user-avatar-circle rounded-circle my-1" alt=""></img>
        {% else %}
        <i class="bi bi-person text-muted" style="font-size: 40px; text-align: center;" alt=""></i>
        {% endif %}
      </a>
      <a class="d-inline-flex ms-3 text-muted" href="{% url 'profile' username=comment.author.username %}" style="text-decoration: none;">
        {{comment.author.displayName}}
      </a>
    </div>
    <div class="card-body">
      <div class="px-4 comment-body">
        <p>
          <a class="card-body" style="text-decoration: none;">
            {{comment.comment}}
          </a>
        </p>
      </div>
    </div>
  </div>
</html>