{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
<script type="text/javascript">
    $(function () {
    $('#edit-profile').on('hidden.bs.modal', function () {
        $(this).find('#edit_profile_from').trigger('reset');
    })
    });
    $(function () {
    $('#edit-profile').on('shown.bs.modal', function () {
        $(this).find('#id_comment').focus();
    })
    });
</script>
<div class="modal fade" id="edit-profile-{{author.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Your Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="edit_profile_from" method="POST" action="{% url 'edit-profile' author_id=author_id %}">

            {% csrf_token %}
            {{ edit_profile_form|crispy }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-success">Save</button>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
</html>