{% extends "base_generic.html" %}

{% block title %}
{% if mode == "following" %}
<title>{{author.displayName}}'s Followings</title>
{% else %}
<title>{{author.displayName}}'s Followers</title>
{% endif %}

{% endblock %}

{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'app/following.css' %}">{% endblock %}

{% block content %}

    <div class="container-fluid d-flex align-items-center flex-column p-3">
        {% if mode == "following" %}
      <h1>{{follow|length}} Following{{follow|pluralize}}</h1>
        {% else %}
        <h1>{{follow|length}} Follower{{follow|pluralize}}</h1>
      {% endif %}

{% for author in follow %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{author.profileImage}}" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{author.displayName}}</h5>
        <p class="card-subtitle mb-2 text-muted">@{{author.username}}</p>
        <p class="card-text">Just coding...</p>    
    <button type="button" class="btn btn-primary"><i class="bi bi-person-fill">&nbsp;Profile</i></button>
        <a type="button" href="{{author.github}}" target="_blank" class="btn btn-secondary"><i class="bi bi-github">&nbsp;GitHub</i></a>
          {% if mode == "following" %}
           <button type="button" class="btn btn-danger"><i class="bi bi-x-lg">&nbsp;Unfollow</i></button>
          {% else %}
            <button type="button" class="btn btn-danger"><i class="bi bi-x-lg">&nbsp;Remove</i></button>
          {% endif %}


      </div>
    </div>
  </div>
</div>


{% endfor %}

</div>


{% endblock %}