{% extends "base_generic.html" %}

{% block title %} <title>Profile</title> {% endblock %}

{% block content %}
</style>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column mb-3">
        <div class="p-2">
            <div class="card mb-3" style="max-width: 1000px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src={{author.profileImage}} class="img-fluid rounded-start" alt="profile picture">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-flex flex-md-row justify-content-between">
                                <div class="p-2">
                                    <h1 class="card-title">{{author.displayName}}</h1>
                                </div>
                                <div class="p-2">
                                    {% if user.username != author.username %}
                                    {% if following == "True" %}
                                    <a href="#" class="btn btn-outline-primary btn-lg">
                                        Following</a>
                                    {% else %}
                                    <a href="#" class="btn btn-primary btn-lg">
                                        Follow</a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <p class="card-text">About author?</p>
                                <a type="button" class="btn btn-primary" href="{{person.github}}" target="_blank"><i
                                        class="bi bi-github">&nbsp;GitHub</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-2">
                <div class="card mb-3" style="max-width: 1000px;">
                    <div class="card-header">
                        <div class="p-2">
                            <nav>
                                <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-public-posts-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-public-posts" type="button" role="tab"
                                        aria-controls="nav-public-posts" aria-selected="true">Public Posts</button>
                                    <button class="nav-link" id="nav-followers-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-followers" type="button" role="tab"
                                        aria-controls="nav-followers" aria-selected="false">Followers</button>
                                    <button class="nav-link" id="nav-following-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-following" type="button" role="tab"
                                        aria-controls="nav-following" aria-selected="false">Following</button>
                                </div>
                            </nav>
                        </div>

                        <div class="p-2">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-public-posts" role="tabpanel"
                                    aria-labelledby="nav-public-posts-tab" tabindex="0">
                                    Public posts stream
                                </div>
                                <div class="tab-pane fade" id="nav-followers" role="tabpanel"
                                    aria-labelledby="nav-followers-tab" tabindex="0">
                                    {% include 'followerstab.html' %}
                                </div>
                                <div class="tab-pane fade" id="nav-following" role="tabpanel"
                                    aria-labelledby="nav-following-tab" tabindex="0">
                                    {% include 'followingtab.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    {% endblock %}