{% extends "base_generic.html" %}
{% load static %}
{% block title %}
{% if user.username == author.username %}
<title>Profile</title>
{% else %}
<title>{{author.displayName}}</title>
{% endif %}
{% endblock %}

{% block content %}
<script> 
var author_id = '{{author.id}}';
var author_host = '{{author.host}}';
var user_id = '{{user.id}}'
</script>
<script type="module" src="{% static '../static/app/js/profile.js' %}"></script>


</style>
<div class="d-flex justify-content-center">
    <div class="p-2 d-flex flex-column mb-3 flex-fill" style="max-width: 1000px;">
        <div class="p-2">
            <div id="profile_card" class="card mb-3 flex-fill" style="max-width: 1000px;">
                <div class="d-flex justify-content-start flex-fill">
                    <img src="" width="250px" height="250px"
                        class="profile_image object-fit-cover border rounded-start" alt="profile picture">
                    <div class="p-2 flex-fill">
                        <div class="card-body">
                            <div class="d-flex flex-md-row justify-content-between">
                                <div class="">
                                    <h1 class="profile_display_name card-title"></h1>
                                </div>
                                <div class="p-2">
                                    {% if user.id != author.id %}
                                    <form class="mt-3" action="{% url 'profile' author_id=author.id %}" method="post">
                                        {% csrf_token %}
                                            <button id="follow_unfollow_button" type="submit" name="" value=""
                                                class="btn btn-outline-primary btn-lg">
                                                <!--<i class="bi bi-person-fill-add">&nbsp;</i></button>-->
                                    {% endif %}
                                </div>
                            </div>
                            <div class="p-2">
                                <a type="button" class="profile_github btn btn-secondary" href="" target="_blank"><i
                                        class="bi bi-github">&nbsp;GitHub</i></a>
                            </div>
                            {% if user.id == author.id %}
                            <div class="p-2">
                                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-profile-{{author.id}}">
                                    Edit Profile
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="p-2" style="max-width: 1000px;">
                        <nav>
                            <div class="nav nav-tabs justify-content-center border-bottom-0" id="nav-tab" role="tablist">
                                <button class="nav-link active"
                                    id="nav-public-posts-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#nav-public-posts" type="button" role="tab"
                                    aria-controls="nav-public-posts" aria-selected="true">Public Posts</button>
                                <button class="nav-link"
                                    id="nav-followers-tab" data-bs-toggle="tab" href="#" data-bs-target="#nav-followers"
                                    type="button" role="tab" aria-controls="nav-followers"
                                    aria-selected="false">Followers</button>
                                <button class="nav-link"
                                    id="nav-following-tab" data-bs-toggle="tab" data-bs-target="#nav-following"
                                    type="button" role="tab" href="#" aria-controls="nav-following"
                                    aria-selected="false">{{following|length}} Following</button>
                                <button class="nav-link"
                                    id="nav-friends-tab" data-bs-toggle="tab" data-bs-target="#nav-friends"
                                    type="button" role="tab" href="#" aria-controls="nav-friends"
                                    aria-selected="false">True Friends</button>
                            </div>
                        </nav>
                    <div class="card p-2">

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active"
                                id="nav-public-posts" role="tabpanel" aria-labelledby="nav-public-posts-tab" tabindex="0">
                                {% include 'posts_tab.html' %}
                            </div>
                            <div class="tab-pane fade"
                                id="nav-followers" role="tabpanel" aria-labelledby="nav-followers-tab" tabindex="1">
                                <!--{% include 'followerstab.html' %}-->
                                {% include 'followers_tab_ajax.html' %}
                            </div>
                            <div class="tab-pane fade"
                                id="nav-following" role="tabpanel" aria-labelledby="nav-following-tab" tabindex="2">
                                {% include 'followingtab.html' %}
                            </div>
                            <div class="tab-pane fade"
                                id="nav-friends" role="tabpanel" aria-labelledby="nav-friends-tab" tabindex="3">
                                <!--{% include 'friendstab.html' %}-->
                                {% include 'friends_tab_ajax.html' %}
                            </div>
                        </div>
                </div>

        </div>
    </div>
    {% if user.id == author.id %}
    {% include "edit_profile_modal.html" %}
    {% endif %}
</div>


{% endblock %}